<app-game-list-filter></app-game-list-filter>

<div class="cards">
  <mat-card *ngFor="let game of games">
    <mat-card-header class="game">
      <div>
        <mat-card-title>{{ game.name }}</mat-card-title>
        <mat-card-subtitle>{{ game.category.label }}</mat-card-subtitle>
      </div>
      <div class="spacer"></div>
      <div>
        {{ game.note }}/10
      </div>
    </mat-card-header>

    <img mat-card-image [src]="game.coverImage" [alt]="'Image de présentation du jeu ' + game.name">

    <mat-card-content>
      <p>{{ sliceWords(game.description) }}</p>
    </mat-card-content>

    <mat-card-actions>
      <!-- Première solution pour le TP 1 (certainement la meilleur dans le temps car les conséquences à faire seront très certainement très différentes entre buy/follow/share). -->
      <button mat-button (click)="onFollow(game)">follow</button>
      <button mat-button (click)="onShare(game)">share</button>
      <button mat-button (click)="onBuy(game)">buy</button>

      <!-- Pour l'instant, on peut utiliser la même méthode (car les processes sont très proches). -->
      <!-- <button mat-button (click)="onActionClick('follow', game)">follow</button>
      <button mat-button (click)="onActionClick('share', game)">share</button>
      <button mat-button (click)="onActionClick('buy', game)">buy</button> -->

      <!-- Une autre posibilité (pas très Angular) : -->
      <!-- <button mat-button [attr.data.game]="game.name" (click)="onClickEvent($event)">follow</button>
      <button mat-button [attr.data.game]="game.name" (click)="onClickEvent($event)">share</button>
      <button mat-button [attr.data.game]="game.name" (click)="onClickEvent($event)">buy</button> -->
    </mat-card-actions>
  </mat-card>
</div>
