/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.box { border: 1px solid gray; }

mat-form-field {
  display: block;
  margin: 0 auto;
  width: 400px;
}

form .actions {
  margin-top: 20px;
}
