/* You can add global styles to this file, and also import other style files */
// div {
//   color: red;
//   background-color: beige;
// }

// Commentaire SASS (NE sera PAS présent dans le CSS final/généré).
/* Commentaire CSS (sera présent dans le CSS final). */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-spinner { margin: 100px auto; }

h1 { text-transform: uppercase; }

// -----------------
// ----- FORM ------

form.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  mat-form-field  { margin: 5px; }
  .break          { flex-basis: 100%; }
  .actions        { margin-top: 0; }
}

mat-label::first-letter { text-transform: uppercase; }

// -----------------
// ----- CARDS -----

.cards mat-card:not(:last-of-type) { margin-bottom: 5px; }

@media screen and (min-width: 800px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    mat-card { // .cards mat-card
      width: 300px;
      margin: 5px;
      display: flex;
      flex-direction: column;

      &:hover { border: 1px solid black; }
    }

    mat-card-content { flex-grow: 1; }
  }
}

// mat-card:hover { border: 1px solid black; }

mat-card-header.game {
  display: flex;

  .spacer { flex-grow: 1 }
}

mat-card-actions button { text-transform: uppercase; }
